In [2]:
import pandas as pd

# Load raw dataset
df = pd.read_csv("superstore.csv")  

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [3]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [8]:
customers = df[
    ['Customer ID', 'Customer Name', 'Segment']
].drop_duplicates()

customers.columns = [
    'customer_id',
    'customer_name',
    'segment'
]

customers.to_csv('customers.csv', index=False)

In [9]:
products = df[
    ['Product ID', 'Product Name', 'Category', 'Sub-Category']
].drop_duplicates()

products.columns = [
    'product_id',
    'product_name',
    'category',
    'sub_category'
]

products.to_csv('products.csv', index=False)

In [10]:
regions = df[
    ['Country', 'Region', 'State', 'City', 'Postal Code']
].drop_duplicates()

regions['region_id'] = range(1, len(regions) + 1)

regions = regions[
    ['region_id', 'Country', 'Region', 'State', 'City', 'Postal Code']
]

regions.columns = [
    'region_id',
    'country',
    'region',
    'state',
    'city',
    'postal_code'
]

regions.to_csv('regions.csv', index=False)

In [11]:
orders = df[
    [
        'Order ID',
        'Order Date',
        'Ship Date',
        'Ship Mode',
        'Customer ID',
        'Product ID',
        'Country',
        'Region',
        'State',
        'City',
        'Postal Code',
        'Sales'
    ]
]

orders.columns = [
    'order_id',
    'order_date',
    'ship_date',
    'ship_mode',
    'customer_id',
    'product_id',
    'country',
    'region',
    'state',
    'city',
    'postal_code',
    'sales'
]

# Map region_id
orders = orders.merge(
    regions,
    on=['country', 'region', 'state', 'city', 'postal_code'],
    how='left'
)

orders = orders.drop(
    columns=['country', 'region', 'state', 'city', 'postal_code']
)

orders.to_csv('orders.csv', index=False)